In [ ]:
print("stelios")
print("london")
print("hi","there")
print("hi there")
print(10)
print ("number is",5.5)

stelios
london
hi there
hi there
10
number is 5.5

In [ ]:
print((3*12+5)/23)

1.7826086956521738

In [ ]:
name = input("enter your name: ")
city = input ("enter a city: ")
print("hello",name,"from",city)

In [ ]:
x = 10
print(x*3)

exercise : ask the user to enter their name, tel num and city
print the followin form:
stelios drom paris tel is : ...

In [ ]:
name = input("enter your name:")
telnum = input ("enter your tel num:")
city = input ("enter your city:")
print (name,"from",city,"tel is",telnum)

enter your name:marie
enter your tel num:769081043
enter your city:versailles
marie from versailles tel is 769081043

In [ ]:
age = input("how old are you?")
print(age*3)

how old are you?17
171717

In [ ]:
age = int(input("hox old are you"))
print(age*3)

hox old are you17
51

exercise:
ask the user to give you two numbes one after the other print the addition of number

In [ ]:
x = int(input("enter a number:"))
y = float(input("enter a number:"))
print (x/y)

enter a number:7
enter a number:5.5
1.2727272727272727

In [ ]:
x = 10
y = 0

if y==0:
  print("I cannot divide by zero")
  print("you are stupid!")
else:
  print(x/y)

I cannot divide by zero
you are stupid!

exercise:
ask the user to enter two integer numbers. Print the largest number

In [ ]:
x = int(input("enter a number: "))
y = int(input("enter a second number: "))

if x>y:
  print("max is",x)
else:
  print("max is",y)

enter a number: 7
enter a second number: 5
max is 7

In [ ]:
x = int(input("enter a number: "))
if x>0:
  print("positive")
elif x==0:
  print("zero")
else:
  print("negative")

enter a number: -5
negative

In [ ]:
x = int(input("enter a number: "))
if x>0 and x<10:
  print("number between 0 and 10")
else:
  print("something else...")

enter a number: 10
something else...

exercise:

In [ ]:
x = float(input("enter a number: "))
if x>=0 and x<10:
  print("fail")
elif x>=10 and x<15:
  print("pass")
elif x>=15 and x<=20:
  print("distinction")
else:
  print ("error")

enter a number: 18
distinction